
html {
font-family: "Segoe UI", "Helvetica Neue", Verdana, Arial, sans-serif;
font-size: 16px;
height: 95%;
}
			
a {
text-decoration: none;
background-color: green;
color: white;
padding: 1rem;
}

main {
margin: .5rem auto;
padding: 2rem;
}

main div {
display: none;
}

main div:target {
display: block;
}
