html {
 font-family: "Segoe UI", "Helvetica Neue", Verdana, Arial, sans-serif;
 font-size: 12px;
 height: 95%;
}
h1 {
 text-align: center;
}
main {
 max-width: 30rem;
 max-height: 35rem;
 margin: 5rem auto;
 padding: 1rem 3rem 3rem 3rem ;
 border-style: solid;
 border-width: 5px;
 background-color: white;
}
/*
---------------------------------------------------------
box-shadow: horizontal vertical borrão dispersão cor;
---------------------------------------------------------
Parâmetros do box-shadow:
* Primeiro valor: sombra horizontal;
* Segundo valor: sombra vertical;
* Terceiro valor: borrão da sombra;
* Quarto valor: dispersão da sombra;
* Quinto valor: cor da sombra.
---------------------------------------------------------
*/
a {
 text-decoration: none;
}
.resp {
 text-align: center;
 color: orangered;
}
.botao {
 width: 4rem;
 height: 4rem;
 background-color: red;
 border-radius: 50%;
 box-shadow: 0 6px 10px 0 #666;
 font-size: 1rem;
 color: white;
 text-align: center;
 line-height: 3.8rem;
 font-weight: bold;
 margin: 2rem auto 0rem auto;
}

.botao:hover {
 box-shadow: 0 6px 14px 0 #333333;
 transform: scale(1.05);
}